{
    "parser": "espree",
    "env": {
        "browser": false,
        "node": true,
        "amd": false,
        "mocha": false,
        "jasmine": false,
        "es6":true
    },
    "plugins": ["security"],
    "extends": ["eslint:recommended","plugin:node/recommended","plugin:security/recommended"],
    "globals": {
        "MalayaDate": "readable",
        "MalayaMath": "readable"
    },
    "rules": {
        "no-console": 0,        // !!! review this later !!!
        "no-unused-vars": [2, {"vars": "all", "args": "none"}],
        "security/detect-non-literal-fs-filename": 0,
        "security/detect-object-injection": 0
    }
}
