.big-button {
    display:inline-block;
    width:100px;
    height:100px;
    line-height:100px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #00c600;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.big-button:hover {
    background: #00e600;
}

